


#main_section {
	margin-top: 50px;
	background-color: #58e9ea;
	border: solid 10px #fff;
}

#id_divider {
    margin-bottom: solid 10px #fff;
}

#id_settings_icon {
	color: #fff;
	font-size: 22px;
	margin-top: 3px;
	margin-left: 15px;
	cursor: pointer;
}

#id_settings_icon:hover {
	color: #216B6C;

}

#id_city {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 28px;
    margin-top: 5px;
    color: #eee;
}

#id_time {
    font-family: 'Oswald';
    font-size: 22px;
    font-weight: 300;    
    color: #eee;
    margin-top: 5px;
}

#id_settings {	
	vertical-align: top;
	margin-top: 10px;
}

#id_weather_icon {
	font-size: 240px;
	text-align: center;
}

#id_weather_icon_wrapper {	
	text-align: center;
}

#id_day_date_wrapper {
    text-align: center;	
}

#id_weather_desc_wrapper,
#id_temp_wrapper,
#id_desc_wrapper {
	vertical-align: bottom;
}

#id_desc_wrapper {
	margin-top: 10px;
}

#id_upcoming_first_icon,
#id_upcoming_second_icon,
#id_upcoming_third_icon {
    display: block;	
}

#id_upcoming_first_temp,
#id_upcoming_second_temp,
#id_upcoming_third_temp,
#id_day_date,#id_weather_desc,
#id_min_temp,#id_max_temp,
#id_over,#id_time {    
    color: #216B6C;
    font-family: 'Oswald';    
}

#id_upcoming_first,
#id_upcoming_second,
#id_upcoming_third {
    text-align:center;
    margin-bottom: 10px;
        
}

#line {
    border-bottom: 2px solid #fff;
    margin-top: 65;
    width: 100%;
}

#id_day_date {
    font-size: 34px;
    font-weight: 300;
}

#id_weather_desc {
    font-size: 28px;
    font-weight: 300;
}

#id_min_temp { 
    font-size: 28px;
    font-weight: 300;
}

#id_max_temp {
    font-size: 40px;
    font-weight: 300;
}

#id_over {
    font-size: 28px;
    font-weight: 300;
}


#id_upcoming_first_icon,
#id_upcoming_second_icon,
#id_upcoming_third_icon {
	font-size: 54px;
	margin-top: 5px;
}

#id_upcoming_first_temp,
#id_upcoming_second_temp,
#id_upcoming_third_temp {
	font-size: 22px;
	margin-top: 5px;
}

#id_day_date_wrapper {
    margin: 20px 0 20px 0;
}

#id_upcoming {
	margin-bottom:20px;
}

body {
	background: #000;	
}

#id_max_temp > sup {
	font-size: 20px;
	top: -1.2em;
}

#id_min_temp > sup {
	font-size: 16px;
	top: -1.2em;	
}

.glyphicon {
    color: #fff;
}


/* Modal style */

#id_modal_title {
	font-size :14px;
	color: #000;
}

form {
	max-width: 300px;
}

#id_modal_inputs_wrapper {
	margin-top: 20px;
}